body{
    margin: 0px;
    background: #F9F8F2;
}

nav{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    background: #F9F8F2;
}

.logo{
    height: 2.5rem;
    width: 13.8rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background: #F9F8F2;
}

.homeText{
    width: 700px;
}

.homeText h1{
    font-size: 98px;
    margin-bottom: 30px;
}

.offer{
    font-size: 18px;
}

.btn{
    width: 330px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border: 0px;
    background: #0f866c;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background: #d4e300;
    color: black;
    transition: 0.2s;
}

.moneyback{
    font-size: 12px;
}

.img{
    height: 400px;
}

.whyExpress{
    height: 200%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.whyExpress h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.whyExpressContent{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.whyExpressContent img{
    height: 400px;
}

.whyExpressContentReason{
    width: 400px;
    height: 400px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whyExpressContentReasonHeading{
    font-size: 30px;
    font-weight: 600;
}

.whyExpressContentReasonText{
    font-size: 18px;
    line-height: 28px;
}

.globalImg{
    width: 400px;
}

.support{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.hrsupport{
    width: 400px;
    margin-right: 50px;
}

.hrsupport img{
    width: 150px;
}

.daymoneyBack{
    width: 400px;
    margin-left: 50px;
}

.daymoneyBack img{
    width: 120px;
}

.supportText{
    font-size: 30px;
    font-weight: 600;
}

footer{
    height: 13%;
    background: #001827;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: rgb(238, 236, 236);
    margin-left: 200px;
}

.links{
    margin-right: 200px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.countries{
    font-size: 18px;
    color: #0f866c;
}

.language{
    display: flex;
    align-items: center;
}

.language:hover{
    color: #0f866c;
}